---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import AboutSection from '../components/About.astro';
import TeamCarousel from '../components/TeamCarousel.astro';
import Activities from '../components/Activities.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="關於我們 | 杉蔓有限公司 Sustainable Man">
	<Header />
	<main class="pt-20">
		<AboutSection />
		<TeamCarousel />
		<Activities />
	</main>
	<Footer />
</Layout>
