---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import PartnerMarquee from '../components/PartnerMarquee.astro';
import ServiceGrid from '../components/ServiceGrid.astro';
import TeamCarousel from '../components/TeamCarousel.astro';
import Impact from '../components/Impact.astro';
import KnowledgeCenter from '../components/KnowledgeCenter.astro';
import ContactForm from '../components/ContactForm.astro';
import Activities from '../components/Activities.astro';
import About from '../components/About.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="杉蔓有限公司 | 淨零時代，高效永續轉型策略夥伴">
	<Header />
	<main>
		<Hero />
		<PartnerMarquee />
		<About />
		<ServiceGrid />
		<TeamCarousel />
		<Activities />
		<Impact />
		<KnowledgeCenter />
		<ContactForm />
	</main>
	<Footer />
</Layout>
