---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import PartnerMarquee from '../components/PartnerMarquee.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="杉蔓有限公司 Sustainable Man | 淨零時代，高效永續轉型策略夥伴">
	<Header />
	<main>
		<Hero />
		<PartnerMarquee />
	</main>
	<Footer />
</Layout>
