---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import ServiceGrid from '../components/ServiceGrid.astro';
import DesignGallery from '../components/DesignGallery.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="核心服務 | 杉蔓有限公司 Sustainable Man">
	<Header />
	<main class="pt-20">
		<ServiceGrid />
		<DesignGallery />
	</main>
	<Footer />
</Layout>
